p, a {
	text-align: center;
	width: 100%;
	font-size: 16px;
	font-family: Comic Sans MS;
	line-height: 50px;
}
#test{
	font-style: italic;
	color: red;
}
.divclass{
}
.parent {
	width: 50%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	align-content: center; 
	justify-content: center; 
	overflow: auto;  
	border-left: 1px solid red; 
}