p, a {
	text-align: left;
	width: 100%;
	font-size: 16px;
	font-family: Comic Sans MS;
	line-height: 50px;
}
#test{
	font-style: italic;
	color: red; 
}
.container{
	width: 100%;
	border: 1px solid red;
}
.parent{
	height: 100px;
	width: 200px;
	border: 1px solid green;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}