p, a {
	text-align: center;
	width: 100%;
	font-size: 16px;
	font-family: Comic Sans MS;
	line-height: 50px;
}
#test{
	font-style: italic;
	color: red;
}
.divclass{
	margin-left: 30%; /* Отступ слева */
	margin-right: 30%;
	border-width: 1px;
	border-style: dashed;
	border-color: black;
	width: 300px;
	height: 100px;
}